{
	"properties": {
		"segment_time": 500,
		"auto_clean": {
			"enabled": true,
			"keep_days": 10
		}
	},
	"streams": [
  		{
  			"alias": "Security camera 1",
  			"url": "rtsp://sample.host1:554",
  			"directory": "sec1"
  		},
  		{
  			"alias": "Security camera 2",
			"url": "rtsp://sample.host2:554",
  			"directory": "sec2"
		}
	]
}
